{% extends "base.html" %}

{% block content %}

    Spletna stran, katero smo naredili in poimenovali ChatApp je narejena s popularno pythonovo knjižnjico Django,
    katera med drugim omogoča lahko povezavo z podatkovno bazo PostGreSQL.

    <p class="about">ChatApp je zgrajen iz osnovne strani, imenovane template.html, katera vsebuje navbar.html in blok
        element, v katerega insertiramo druge strani v uporabi. Najpomembnejši od teh sta skupinski pogovor
        (groupchat.html), ki omogoča pogovor med vsemi registriranimi uporabniki in uporabniki (users.html), ki omogoča
        privatni pogovor z izbranim uporabnikom. Na strani se najdejo tudi strani za prijavo in registracijo, domača
        stran, ki vsebuje ta opis strani ter profil, ki vsebuje le prazno stran. </p>

{% endblock %}