{% extends "base.html" %}
{% load static %}
{% block head %}
    <script src="{% static 'vue.min.js' %}"></script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="messages" id="chatbox">
            <div class="message" v-for="m in messages"
                 :class="{
                    'message--mine': myId == m.sender,
                    'message--other': myId != m.sender,
                 }">
                <p class="username" v-html="m.username"></p>
                <p class="userdate" v-html="m.datum"></p>
                <p class="txt" v-html="m.txt"></p>
            </div>

            <div class="submission">
                <form method="POST" @submit.prevent="handleSubmit">
                    <textarea v-model="newTxt" rows="10" class="submission__textarea"
                              name="{{ form.txt.html_name }}"></textarea>

                    <button class="submission__button" type="submit">Dodaj</button>
                </form>
            </div>
        </div>



    {% else %}
        <p>Niste prijavljeni</p>
        <a href="{% url 'message:login' %}">login</a>
    {% endif %}

    <script lang="text/javascript">
        window.addEventListener('DOMContentLoaded', () => {
            var app = new Vue({
                el: '#chatbox',
                data: {
                    messages: [],
                    myUsername: '{{ request.user.username }}',
                    myId: {{ request.user.pk }},
                    otherId: {% if other_user_id %}{{ other_user_id }}{% else %}null{% endif %},
                    urls: {
                        list: "{% if other_user_id %}{% url 'message:list_private' pk=other_user_id %}{% else %}{% url 'message:list' %}{% endif %}",
                        create: "{% if other_user_id %}{% url 'message:create_private' pk=other_user_id %}{% else %}{% url 'message:create' %}{% endif %}",
                    },
                    newTxt: '',
                    csrfToken: "{{ csrf_token }}"
                },
                mounted() {
                    this.getMessages()
                    setInterval(this.getMessages, 500)
                },
                methods: {
                    async getMessages() {
                        var response = await fetch(this.urls.list)
                        this.messages = await response.json()
                    },
                    async createMessage() {
                        var vals = {
                            sender: this.myId,
                            txt: this.newTxt,
                            receiver: this.otherId,
                        }
                        var response = await fetch(
                            this.urls.create,
                            {
                                method: 'POST',
                                body: JSON.stringify(vals),
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': this.csrfToken,
                                },
                                mode: 'same-origin'
                            }
                        )
                        if (response.ok) {
                            this.newTxt = ''
                        }
                    },
                    handleSubmit(e) {
                        this.createMessage()
                    }
                },
            })
        })
    </script>

{% endblock %}