{% extends "base.html" %}

{% block content %}

    Trenutno registrirani uporabniki (pritisni na uporabnika za privatno komunikacijo): <br>
    {% if request.user.is_authenticated %}
        {% for u in users %}
            {% comment %} <p class="username"><a href="/lookup?id={{ u.username }}"> {{u.username}} </a></p> {% endcomment %}
            <p class="username"><a href="{% url 'message:private_message' receiving_user__id=u.pk %}"> {{ u.username }} </a>
            </p>

        {% endfor %}
    {% else %}
        <p>Niste prijavljeni</p>
        <a href="{% url 'message:login' %}">login</a>
    {% endif %}

{% endblock %}