.content{
    background-color: gray;
    color: white;
}

.navbar__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(215, 253, 255);
    overflow: hidden;
    position: relative;
}

.navbar__list__item {
    float: left;
    font-family: "franklin gothic heavy";
    font-size: 28px;
    position: relative;
    -ms-transform: translateY(28%);
    transform: translateY(28%);
}
.page__title{
    float: left;
}

.navbar__list__item a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 24px;
    text-decoration: none;
}

.navbar__list__item a:hover {
    background-color: #6bf2f7;
}

.navbar__list__user{
    float: left;
    font-family: "franklin gothic heavy";
    font-size: 18px;
    position: relative;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    margin-left: 20px;
}

.userdate{
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.username{
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.txt{
    color: white;
}

.chatBox{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(49, 49, 49);
    padding: 20px;
    border-radius: 10px;
}

.chatMessage1{
    border-radius: 25px;
    background: #23a5cc;
    padding: 20px;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: auto;
}
.chatMessage2{
    border-radius: 25px;
    background: #3ca51c;
    padding: 20px;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 30px;
    justify-content: left;
}

.addMessage{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.addMessage__button {

}

.addMessage__mesage{
    
}